<!DOCTYPE html>
<html lang="en">

    {% include 'includes/head.html' %}

<body data-background-color="dark">
    <div class="wrapper {% block wrapper_extra_class %}{% endblock wrapper_extra_class %}">
        {% include 'includes/header.html' %}
        <div class="{% block sidebar_class %}{% endblock sidebar_class %}">
            {% include 'includes/sidebar-main.html' %}
        </div>
        <div class="main-panel">
            {% block content %}
            {% endblock content %}
            {% include 'includes/footer.html' %}
        </div>
        {% include 'includes/custom-template.html' %}
    </div>
        {% include 'includes/scripts.html' %}
    {% block extrajs %}{% endblock extrajs %}
</body>

</html>