{% load static %}

<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>AFOR Dashboard</title>
<meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
<link rel="icon" href="{% static 'images/logo.jpg' %}" type="image/x-icon"/>



<!-- CSS Files -->
<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/atlantis.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/demo.css' %}">
</head>